<div class="auth-wrap">
  <div class="auth-box">
    <div class="upaj-logo"><img src="../../../assets/images/logo-gray.svg"></div>
    <div class="upaj-form">
      <div class="upaj-form-header">
        <h1>forget Password</h1>
        <p>a reset link will be sent on your registered email</p>
      </div>
      <div class="upaj-box">
        <form autocomplete="off">
          <div class="form-row">
            <div class="form-input-wrap">
              <input type="text" autocomplete="off" class="form-text-input" placeholder="Enter Registered Email ID">
            </div>
          </div>
          <div class="form-row btn-row">
            <div class="form-input-wrap">
              <input type="submit" class="submit-btn" value="Send Reset Link">
            </div>
          </div>
          <div class="form-row">
            <div class="form-input-wrap">
              <div class="info-msg">
                for any queries, contact us at <strong>partner@upaj.org</strong>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>