<div class="auth-wrap">
  <div class="auth-box">
    <div class="upaj-logo"><img src="../../../assets/images/logo-gray.svg"></div>
    <div class="upaj-form">
      <div class="upaj-form-header">
        <h1>Signup</h1>
        <p>to test and subscribe to Upaj API</p>
      </div>
      <div class="upaj-box">
        <form autocomplete="off">
          <div class="form-row">
            <div class="form-input-wrap">
              <input type="text" autocomplete="off" class="form-text-input" placeholder="Full Name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-input-wrap">
              <input type="text" autocomplete="off" class="form-text-input" placeholder="Organisation Name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-input-wrap">
              <input type="text" autocomplete="off" class="form-text-input" placeholder="Enter Registered Email ID">
            </div>
          </div>
          <div class="form-row">
            <div class="form-input-wrap">
              <input type="text" autocomplete="off" class="form-text-input" placeholder="Phone  Number">
            </div>
          </div>
          <div class="form-row">
            <div class="form-input-wrap">
              <input type="password" autocomplete="off" class="form-text-input" placeholder="Enter password">
            </div>
          </div>
          <div class="form-row btn-row">
            <div class="form-input-wrap">
              <input type="submit" class="submit-btn" value="Signup">
            </div>
          </div>
          <div class="form-row">
            <div class="form-input-wrap">
              <div class="info-msg">
                Already registered? <a [routerLink]="['/login']">Login</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>