html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Figtree', sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
}

.logo {
  display: inline-block;
  font-size: 0;
}

.logo img {
  height: 48px;
  width: auto;
  vertical-align: middle;
}

.login-button {
  padding: 14px 28px;
  border-radius: 12px;
  background: #F5BF02;
  box-shadow: 0px 3px 7px 0px rgba(19, 17, 26, 0.14);
  color: #000000;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.section-1 {
  margin-top: 113px;
  padding-top: 64px;
  background: #ffffff url('./assets/images/grid.png') no-repeat center -177px / 1920px 850px;
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
}

.section-1::before,
.section-1::after {
  content: '';
  display: block;
  position: absolute;
  height: 1094px;
  width: 1774px;
  background: url('./assets/images/background-binary.png') no-repeat center center / cover;
}

.section-1::before {
  left: -1200px;
  bottom: 0px;
}

.section-1::after {
  right: -1200px;
  bottom: -500px;
}

.text-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 568px;
  margin: 0 auto 32px;
}

.text-row>h1 {
  color: #000;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
  margin-bottom: 16px;
}

.text-row>p {
  color: #00063F;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.btn-row {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.btn {
  padding: 16px 24px;
  border-radius: 8px;
  color: #000;
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  display: inline-block;
  text-decoration: none;
}

.primary-btn {
  background: #F5BF02;
}

.secondaty-btn {
  border: 1px solid #000;
  background: #FFF;
}

.home-image {
  text-align: center;
  margin-top: 98px;
}

.home-image>img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.mobile-icon {
  margin-bottom: 32px;
  text-align: center;
  display: none;
}

.impact {
  margin-top: 150px;
}

.impact>h2 {
  color: #22222D;
  text-align: center;
  font-family: Figtree;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 72px;
}

.impact>ul.impact-data {
  margin: 0 auto;
  display: flex;
  border-radius: 26px;
  border: 1px solid #B7B7B7;
  background: #FFF;
  width: 100%;
  max-width: 1047px;
  justify-content: center;
  align-items: center;
}

.impact>ul.impact-data li {
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}

.impact>ul.impact-data li>h3 {
  color: #000;
  text-align: center;
  font-family: Figtree;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.impact>ul.impact-data li>p {
  color: #000;
  text-align: center;
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.data-section {
  padding: 120px 72px;
  background: #FFF7EE;
}

.section-heading {
  color: #22222D;
  text-align: center;
  font-family: Figtree;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  max-width: 780px;
  margin: 0 auto 72px;
}

.heading-text {
  max-width: 946px;
  color: #6D7280;
  text-align: center;
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto 72px;
}

.data-list {
  display: flex;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
}

.data-list .data-card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 26px;
  border: 1px solid #B7B7B7;
  background: #FFF;
}

.data-list .data-card .card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.data-list .data-card .card-text>h3 {
  color: #111827;
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.data-list .data-card .card-text>p {
  color: #606266;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.industries {
  padding: 120px 0px 90px;
}

.section-data {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.industries .section-heading {
  margin-bottom: 16px;
}

.industry-list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 910px;
  padding-bottom: 30px;
}

.industry-list .industry {
  display: flex;
  padding: 24px 20px;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}

.industry:first-child {
  margin-left: 75px;
}

.industry-list .industry>span {
  color: #0A243F;
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.feature-section {
  padding: 72px 0;
}

.feature-section .feature-box {
  display: flex;
  padding: 120px 72px;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  align-self: stretch;
  border-radius: 32px;
  background: #FAF8F5;
}

.feature-card-list {
  display: flex;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
}

.feature-card-list .feature-card {
  display: flex;
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
  flex: 1 0 0;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 8px 16px 0px rgba(11, 11, 63, 0.02);
}

.feature-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.card-image>img {
  max-width: 100%;
  height: auto;
}

.feature-card-text>h3 {
  color: #111827;
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.feature-card-text>p {
  color: #6D7280;
  text-align: justify;
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.innovation {
  padding: 24px 0;
}

.innovation .heading-text {
  margin-bottom: 32px;
}

.innovation .section-heading {
  margin-bottom: 16px;
}

.categories-data {
  padding: 24px 0;
}

.tabs {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 12px;
  background: #FFF;
  border: 1px solid #CCC;
  overflow: hidden;
}

.tabs .tab-links {
  display: flex;
  width: 370px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-right: 1px solid #CCC;
  ;
}

.tabs .tab-links .tab-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tabs .tab-links .tab-group .tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFF;
  border-bottom: 5px solid #FFF;
  width: 100%;
}

.tabs .tab-links .tab-group .tab.active {
  border-bottom-color: #F5BF02;
  background: #FAF8F5;
}

.tabs .tab-links .tab-group .tab .link-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 24px;
  flex: 1 0 0;
}

.tabs .tab-links .tab-group .tab .link-data>h2 {
  color: #111827;
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.tabs .tab-links .tab-group .tab .link-data>p {
  color: #6D7280;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.tab-content {
  height: 750px;
  max-width: calc(100% - 370px);
  padding: 0px 12px 72px 24px;
  background: #FFF;
  overflow-y: auto;
}

.tab-box {
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
}

.tab-heading {
  max-width: 642px;
  color: #000;
  font-family: Figtree;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tab-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.tab-row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
}

.tab-row.flexCol {
  flex-direction: column;
}

.tab-row.flexCol div>img {
  max-width: 100%;
}

.tab-text {
  color: #40444F;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.tab-text strong {
  font-weight: 600;
  line-height: 24px;
}

.tab-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.card-row {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.card-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
}

.card-col>h4 {
  color: #000;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.card-col>p {
  color: #40444F;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.card-col>p>strong {
  font-weight: 600;
  line-height: 24px;
}

.code {
  display: flex;
  padding: 64px;
  gap: 50px;
  align-items: center;
  align-self: stretch;
  border-radius: 32px;
  background: #000;
  margin: 64px 0;
}

.code-image {
  display: flex;
  max-width: 530px;
  height: auto;
  padding: 16.664px 23px;
  justify-content: center;
  align-items: center;
  width: 75%;
  min-width: 400px;
}

.code-image img {
  vertical-align: middle;
  width: 100%;
}

.code-detail {
  display: flex;
  padding-top: 18px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 72px;
}

.code-detail .code-text {
  display: flex;
  max-width: 444px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  color: #ffffff;
}

.code-detail .code-text>h3 {
  color: #F6FEF8;
  font-family: Figtree;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.code-detail .code-text>p {
  color: #F6FEF8;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.code-detail.mobileShow {
  display: none;
}

.mobileHide {
  display: flex;
}

.explore {
  display: flex;
  padding: 160px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: #FFF7EE;
}

.explore .exp-text {
  display: flex;
  max-width: 980px;
  padding: 1px 173px 3px 173px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}

.explore .exp-text>h2 {
  max-width: 634px;
  color: #000;
  text-align: center;
  font-family: Figtree;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
}

.explore .exp-text .primary-btn {
  font-size: 28px;
  padding: 24px 40px;
}

.footer {
  display: flex;
  padding: 80px 116px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: #09070D;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-links>ul {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.footer-links>ul li a {
  color: #FAFAFA;
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
}

.copyright {
  color: #FFF;
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* login start */
.auth-wrap {
  padding: 96px 64px;
}

.auth-box {
  width: 100%;
  max-width: 542px;
  margin: 0 auto;
  text-align: center;
}

.upaj-form {
  border-radius: 8px;
  border: 1px solid #DADCE0;
  padding: 24px 40px;
}

.upaj-logo {
  margin-bottom: 32px;
}

.upaj-form .upaj-form-header {
  display: flex;
  padding: 1px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
  margin-bottom: 36px;
}

.upaj-form .upaj-form-header h1 {
  color: #202124;
  text-align: center;
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.999px;
}

.upaj-form .upaj-form-heade p {
  color: #202124;
  text-align: center;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.upaj-box {}

.upaj-box .form-row {
  margin-bottom: 8px;
}

.upaj-box .form-row.btn-row {
  margin-top: 35px;
  margin-bottom: 32px;
}

.upaj-box .form-row.create-account {
  margin: 32px 0 54px;
}

.upaj-box .form-row .form-input-wrap {
  width: 100%;
}

.upaj-box .form-row .form-input-wrap .form-text-input {
  font-family: Figtree;
  display: block;
  width: 100%;
  padding: 20px 16px;
  border-radius: 4px;
  border: 1px solid #DADCE0;
  font-size: 16px;
  font-weight: 400;
  height: 60px;
}

.upaj-box .form-row .form-input-wrap .submit-btn {
  color: #000000;
  width: 100%;
  display: block;
  border-radius: 4px;
  background: #F5BF02;
  padding: 12px 24px;
  font-size: 14px;
  text-align: center;
  font-family: Figtree;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.15px;
  border: none;
}

.upaj-box .form-row .form-input-wrap .submit-btn:disabled {
  background-color: #d5d4d4;
  color: #6f6f6f;
}

.upaj-box .form-row .form-input-wrap .info-msg {
  color: #000;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25px;
}

.upaj-box .form-row .form-input-wrap .info-msg strong {
  font-weight: 700;
}

.upaj-box .form-row .form-input-wrap .info-msg>a {
  text-decoration-line: underline;
  color: #000;
}

.upaj-box .form-row.create-account .form-input-wrap a,
.upaj-box .form-row .form-input-wrap.forget-password a {
  color: #000;
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25px;
  text-decoration-line: underline;
}

.form-input-wrap.forget-password {
  text-align: right;
}

.form-input-wrap.forget-password a {}

.breadcrum {
  background-color: #000000;
  padding: 16px 0px;
}

.cd-breadcrumb li,
.cd-multi-steps li {
  display: inline-block;
  margin: 0.5em 0;
}

.cd-breadcrumb li,
.cd-breadcrumb li>a {
  display: inline-block;
  color: #FFF;
  text-align: center;
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.cd-breadcrumb li::after {
  content: '';
  display: inline-block;
  margin: 0 0.6em;
  color: #FFF;
  height: 16px;
  width: 16px;
  background: url('./assets/images/cd-custom-separator.svg') no-repeat center center;
  vertical-align: middle;
}

.cd-breadcrumb li:hover a {
  text-decoration: underline;
}

.cd-breadcrumb li:last-child::after {
  display: none;
}


.api-wrap {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 32px 0;
  flex-direction: row;
  gap: 44px;
}

.filterbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  width: 308px;
  border-radius: 16px;
  background: #FFF7EE;
}

.filterbox .filterbox-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.filterbox .filterbox-inner .filter-container {
  overflow-y: auto;
  height: 100%;
  padding: 16px 20px;
}

.filterbox .filterbox-inner .filter-apply {
  padding: 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: #FFFFFF;
  box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

.filterbox .filterbox-inner .apply-btn {
  display: block;
  height: 48px;
  padding: 16px 24px;
  border-radius: 8px;
  background: #F5BF02;
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  width: 100%;
  border: 0;
  outline: none;
}

.api-list-box {
  display: flex;
  width: calc(100% - 308px);
}

.filter-title {
  display: flex;
  padding: 10px 16px 0px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 38px;
}

.filter-title .filter-heading {
  display: flex;
  align-items: center;
  gap: 12px;
}

.filter-title .filter-heading .close-btn {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
  display: none;
  align-items: center;
}

.filter-title .filter-heading>h2 {
  color: #000;
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%
}

.filter-title .clearall {
  color: #FC3400;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  border: 0;
  outline: none;
  background-color: transparent;
}

.category-wrap {
  width: 100%;
  margin-bottom: 48px;
}

.category-wrap.industry {
  margin-bottom: 0;
}

.category-title {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  width: 100%;
}

.category-title h3 {
  color: #000;
  font-family: Figtree;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.category-title span {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.category-title span.rotate{
  transform: rotate(-90deg);
}
.category-list{
  overflow: hidden;
  margin-top: 20px;
  transition: height 0.4s ease;
}
.category-list.hide {
  height: 0;
  margin-top: 0;
}

.category-radio-btn {
  display: flex;
  padding: 8px 0px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.category-radio-btn label {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.category-radio-btn label>span {
  font-size: 14px;
  color: #000000;
  line-height: 150%;
}

.category-radio-btn input[type="radio"] {
  gap: 12px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.category-radio-btn input[type="checkbox"] {
  gap: 12px;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
}

.api-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.api-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 150px;
}

.api-search .filter-btn-wrap>span {
  display: inline-block;
  min-width: 150px;
}

.api-search .filter-btn-wrap .filter-btn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #F5BF02;
  border: 0;
  outline: none;
  display: none;
}

.searchbox {
  display: flex;
  align-items: center;
  gap: 12px;
  width: calc(100% - 150px);
  justify-content: flex-end;
}

.searchbox .search {
  display: inline-block;
  position: relative;
  color: #aaa;
  width: 100%;
}

.searchbox .search input {
  width: 100%;
  /* max-width: 320px; */
  min-width: 250px;
  height: 40px;
  background: #fcfcfc;
  border-radius: 8px;
  border: 1px solid #9C9C9C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 0 44px 0 12px;
}

.searchbox .search .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

.searchbox .search .fa-search {
  left: auto;
  right: 10px;
}

.changeListType {
  display: flex;
  align-items: center;
  padding: 4px 7px;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: #2D313C;
}

.changeListTypeBtn {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
}

.api-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}

.api-list-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
  width: calc(33.33% - 11px);
}

.api-list.listStyle .api-list-card {
  width: 100%;
  flex: auto;
}

.api-list-card>a {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-decoration: none;
  padding: 16px;
}

.api-list-card>a .api-list-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 8px;
}

.api-list-card>a .api-list-heading>h2 {
  color: #000;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.api-list-card>a .api-list-heading>p {
  height: 56px;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #6D7280;
  font-family: Figtree;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tags {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}

.tags li {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #EDEDED;
  background: #FFF;
  color: #1F1F1F;
  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}






























@media screen and (max-width: 1200px) {
  .data-section {
    padding: 64px 0px;
  }

  .data-section .data-list {
    gap: 30px;
  }

  .feature-section .section-heading {
    margin-bottom: 30px;
  }

  .feature-section .feature-box {
    padding: 64px 30px;
    gap: 30px;
  }

  .feature-card-list,
  .section-data {
    gap: 30px;
  }

  .feature-card-text {
    gap: 15px;
  }

  .feature-card-list .feature-card {
    padding: 30px;
    gap: 30px;
    border-radius: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 16px;
  }

  .feature-card-list .feature-card {
    padding: 20px;
  }

  .feature-card-text>h3 {
    font-size: 20px;
    line-height: normal;
  }

  .feature-card-text>p {
    font-size: 16px;
    line-height: normal;
  }

  .tab-row {
    flex-direction: column-reverse;
  }

  .tab-row.maps {
    flex-direction: column;
  }

  .card-row {
    flex-direction: column;
  }

  .tabs .tab-links {
    width: 280px
  }

  .tab-content {
    max-width: calc(100% - 280px);
  }

  .code {
    padding: 30px;
    gap: 30px;
  }

  .code-detail {
    gap: 40px;
  }

  .code-detail .code-text>h3 {
    font-size: 28px;
    line-height: normal;
  }

  .explore {
    padding: 84px 0px;
  }

  .explore .exp-text>h2 {
    font-size: 36px;
    line-height: normal;
  }

  .explore .exp-text {
    padding: 0;
  }

  /* api list page  */
  .api-wrap {
    gap: 16px;
  }

  .filterbox {
    padding: 16px 15px;
    width: 260px;
  }

  .api-list-box {
    width: calc(100% - 260px);
  }

  .api-list-card {
    width: calc(50% - 8px);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .logo img {
    height: 38px;
  }

  .login-button {
    padding: 9px 16px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 24px;
  }

  .section-1 {
    background: none;
    margin-top: 0;
  }

  .section-1::before {
    display: none
  }

  .section-1::after {
    bottom: -660px;
  }

  .text-row>h1 {
    font-size: 36px;
    line-height: normal;
  }

  .text-row>p {
    font-size: 16px;
  }

  .home-image {
    display: none;
  }

  .mobile-icon {
    display: block;
  }

  .impact>h2 {
    font-size: 28px;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 16px;
  }

  .impact>ul.impact-data {
    flex-wrap: wrap;
  }

  .impact>ul.impact-data li {
    width: 50%;
    flex: none;
    padding: 24px 0px;
  }

  .impact>ul.impact-data li>h3 {
    font-size: 26px;
  }

  .impact>ul.impact-data li>p {
    max-width: 125px;
    font-size: 12px;
  }

  .data-section {
    padding: 64px 0px;
  }

  .data-section .section-heading,
  .industries .section-heading {
    font-size: 28px;
    line-height: normal;
    margin-bottom: 16px;
  }

  .data-section .data-list {
    flex-direction: column;
  }

  .data-list .data-card .card-text>h3 {
    font-size: 20px;
  }

  .industries {
    padding: 64px 0px;
  }

  .industries .heading-text {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 24px;
  }

  .industry:first-child {
    margin-left: 0;
  }

  .industry-list {
    gap: 10px;
  }

  .industry-list .industry {
    width: calc(50% - 10px);
    padding: 8px;
    border-radius: 6px;
  }

  .industry-list .industry>img {
    width: 24px;
  }

  .industry-list .industry>span {
    font-size: 14px;
    font-weight: 500;
    ;
  }

  .feature-section {
    padding-top: 0;
  }

  .section-heading {
    font-size: 28px;
    line-height: normal;
    margin-bottom: 0px;
  }

  .heading-text {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 24px;
  }

  .feature-section .feature-box {
    margin: 0 -30px;
    border-radius: 0;
  }

  .feature-card-list {
    flex-direction: column;
  }

  .feature-card-list .feature-card .card-image {
    width: 100%;
  }

  .feature-card-list .feature-card .card-image>img {
    width: 100%;
  }

  .categories-data {
    padding: 0;
  }

  .categories-data {
    margin: 0 -30px;
  }

  .tabs {
    flex-direction: column;
    border: 0;
  }

  .tabs .tab-links {
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
    padding-bottom: 5px;
  }

  .tabs .tab-links .tab-group {
    flex-direction: row;
  }

  .tabs .tab-links .tab-group .tab {
    padding: 12px 14px;
    background-color: #FAF8F5;
    ;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.08);
    border-bottom: 3px solid #FFF;
  }

  .tabs .tab-links .tab-group .tab .link-data {
    padding: 0;
  }

  .tabs .tab-links .tab-group .tab .link-data>p {
    display: none;
  }

  .tabs .tab-links .tab-group .tab .link-data>h2 {
    font-size: 16px;
  }

  .tab-content {
    width: 100%;
    max-width: none;
    height: auto;
  }

  .code {
    flex-direction: column;
  }

  .code-detail.mobileShow {
    display: flex;
  }

  .code-image {
    width: 100%;
  }

  .code-detail .code-text.mobileHide {
    display: none;
  }

  .filterbox {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    left: 0;
    top: 0;
    z-index: 9999;
    border-radius: 0;
    padding: 0;
    display: none
  }

  .filterbox.showFilterPopup {
    display: block;
  }

  .filterbox .filterbox-inner .filter-apply {
    display: block;
  }

  .filterbox .filterbox-inner {
    padding: 16px 15px 96px;
  }

  body.showPopup {
    overflow: hidden;
  }

  .api-list-box {
    width: 100%;
  }

  .changeListType {
    display: none;
  }

  .api-search {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 12px;
  }

  .searchbox,
  .search,
  .searchbox .search input {
    width: 100%;
  }

  .api-search .filter-btn-wrap .filter-btn {
    display: inline-flex;
  }

  .filter-title .filter-heading .close-btn {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .logo img {
    height: 28px;
  }

  .login-button {
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 18px;
  }

  .section-1 .btn-row {
    flex-direction: column;
  }

  .section-1 .btn-row .btn {
    width: 100%;
    text-align: center;
  }

  .code {
    margin: 0 -30px;
    border-radius: 0;
  }

  .code-detail {
    width: 100%;
  }

  .code-image {
    max-width: none;
    padding: 0;
    min-width: auto;
  }

  .explore-btn {
    width: 100%;
  }

  .explore-btn a {
    display: block;
    width: 100%;
    text-align: center;
  }

  .explore .exp-text .primary-btn {
    display: block;
    width: 100%;
  }

  /* api list page  */
  .filter-title .filter-heading>h2 {
    font-weight: 600;
    ;
  }

  .api-list-card {
    width: 100%;
  }
}