<section class="section-1">
  <div class="container">
    <div class="text-row">
      <h1>Scale your <br /> business with us</h1>
      <p>Harness the power of Upaj's data-driven tools to revolutionize your industry</p>
    </div>
    <div class="btn-row">
      <a class="btn primary-btn" href="#">Schedule a free call</a>
      <a class="btn secondaty-btn" href="#">Explore APIs</a>
    </div>
    <div class="home-image">
      <img src="../assets/images/home-banner.svg" alt="">
    </div>
    <div class="impact">
      <h2>Impact we create</h2>
      <ul class="impact-data">
        <li>
          <h3>1000+</h3>
          <p>API calls per month</p>
        </li>
        <li>
          <h3>200+</h3>
          <p>APIs</p>
        </li>
        <li>
          <h3>300+</h3>
          <p>Hours of development effort saved</p>
        </li>
        <li>
          <h3>160+</h3>
          <p>Lines of code</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="data-section">
  <div class="container">
    <h2 class="section-heading">Unleash the power of data</h2>
    <div class="data-list">
      <div class="data-card">
        <div class="card-icon"><img src="../assets/images/wall-clock 1.svg" alt="clock icon"></div>
        <div class="card-text">
          <h3>Accurate</h3>
          <p>Upaj API provides powerful real-time insights into the agri-ecosystem to help you make informed
            decisions.</p>
        </div>
      </div>
      <div class="data-card">
        <div class="card-icon"><img src="../assets/images/brain.svg" alt="brain icon"></div>
        <div class="card-text">
          <h3>Pre-trained with data</h3>
          <p>Our APIs are pre-trained using the latest satellite, IoT, and soil data from over 40,000 sample sets, to
            ensure accuracy and efficiency.</p>
        </div>
      </div>
      <div class="data-card">
        <div class="card-icon"><img src="../assets/images/verified.svg" class="varified icon"></div>
        <div class="card-text">
          <h3>Enterprise grade security</h3>
          <p>To ensure secure data access and compliance, our APIs are designed with the highest level of
            enterprise-grade security and privacy features.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="industries">
  <div class="container">
    <div class="section-data">
      <div>
        <h2 class="section-heading">Empowering innovation across diverse industries</h2>
        <p class="heading-text">Upaj API facilitates optimized operations across industries through data. Insightful
          APIs enable businesses to tap into services and resources, opening up opportunities for innovation and
          collaboration.</p>
      </div>
      <div class="industry-list">
        <div class="industry">
          <img src="../assets/images/finance.svg" alt="finance icon">
          <span>Finance</span>
        </div>
        <div class="industry">
          <img src="../assets/images/defence.svg" alt="defence icon">
          <span>Defence</span>
        </div>
        <div class="industry">
          <img src="../assets/images/government.svg" alt="government icon">
          <span>Goverment</span>
        </div>
        <div class="industry">
          <img src="../assets/images/input.svg" alt="input icon">
          <span>Input</span>
        </div>
        <div class="industry">
          <img src="../assets/images/ngos.svg" alt="NGOs icon">
          <span>NGOs</span>
        </div>
        <div class="industry">
          <img src="../assets/images/agtech.svg" alt="agtech icon">
          <span>AgTech</span>
        </div>
        <div class="industry">
          <img src="../assets/images/fmcg.svg" alt="fmcg icon">
          <span>FMCG</span>
        </div>
        <div class="industry">
          <img src="../assets/images/shipping.svg" alt="shipping icon">
          <span>Shipping</span>
        </div>
        <div class="industry">
          <img src="../assets/images/finance.svg" alt="finance icon">
          <span>CleanTech</span>
        </div>
        <div class="industry">
          <img src="../assets/images/mining.svg" alt="mining icon">
          <span>Mining</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feature-section">
  <div class="container">
    <div class="feature-box">
      <div class="section-data">
        <div>
          <h2 class="section-heading">Designed for every industry, scalable as per requirement.</h2>
        </div>
        <div class="feature-card-list">
          <div class="feature-card">
            <div class="feature-card-text">
              <h3>Dynamically configurable for every business need</h3>
              <p>You decide how to design your access, in line with your business goals. Create infinite access layers
                - a ticket within a ticket within a ticket.</p>
            </div>
            <div class="card-image">
              <img src="../assets/images/dynamicconfigurable.svg" alt="">
            </div>
          </div>

          <div class="feature-card">
            <div class="feature-card-text">
              <h3>Dynamically configurable for every business need</h3>
              <p>You decide how to design your access, in line with your business goals. Create infinite access layers
                - a ticket within a ticket within a ticket.</p>
            </div>
            <div class="card-image">
              <img src="../assets/images/stars.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="innovation">
  <div class="container">
    <div>
      <h2 class="section-heading">Empowering innovation across diverse industries</h2>
      <p class="heading-text">Upaj API facilitates optimized operations across industries through data. Insightful
        APIs enable businesses to tap into services and resources, opening up opportunities for innovation and
        collaboration.</p>
    </div>
    <div class="categories-data">
      <app-tabs></app-tabs>
    </div>
    <div class="code">
      <div class="code-image">
        <img src="../assets/images/sdk-blue-wrapper.png" alt="">
      </div>
      <div class="code-detail">
        <div class="code-text">
          <h3>Integrate in your products within minutes</h3>
          <p>Add access control capabilities that unlock new revenue models with just a few lines of code</p>
        </div>
        <div>
          <a href="#" class="btn primary-btn">Explore APIs</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="explore">
  <div class="container">
    <div class="exp-text">
      <h2>Created for tomorrow, TODAY.</h2>
      <a href="#" class="btn primary-btn">Explore APIs</a>
    </div>
  </div>
</section>